<h1>Villagers</h1>
<% Citizen.find_each do |c| %>
  <div>
    <strong>Name</strong> <%= c.name %>
    <br />
    <strong>Hunger</strong> <%= c.hunger.round(2) %>
    <br />
    <strong>Thirst</strong> <%= c.thirst.round(2) %>
  </div>
<% end %>
